{% extends 'header.html' %}
{% block tittle %} Error de acceso {% endblock %}
    <h1>Error al momento de ingresar</h1>
{% block content %}
    <p>El usuario y/o la contrasela son incorrectos</p>
{%  endblock %}