{% extends 'header.html' %}
{% block login %}

    <form action="" method="POST">
    {% csrf_token %}
<div>
	{{ formulario.as_p }}
</div>
	<input class="btn btn-primary" type="submit" formmethod="post" value="login">
    </form>

{% endblock %}

