#logo{
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	float:none;
	background-image:url(/Backend/media/images/logo.png);
	width:70%;
	height:189px;
}


#menu{
	border: 0px solid #000000;
	float:left;
	width:100%;
	height:32px;
	background-color: #9d0000;
	rgba(176,170,176,0.3);
	background-repeat:repeat-x;
}

#rightpanel{
	float: right;
	width:30%;
	height: 50px;
}

.smallblacktext {
	font: 0.7em Tahoma, sans-serif;
	font-size: 15px;
	font-weight:bold;
	color: #000000;
}

.smallblacktext a {
    font: 0.7em Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}