<!DOCTYPE HTML>
<HTML>
<head>
    <link href="/Backend/media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/Backend/media/css/estilo.css" rel="stylesheet">
    <link href="/Backend/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" >
    <div id="logo" >
    </div>
    <title>{% block tittle %} titulo base {%  endblock %}</title>
    {% block login %} {% endblock %}
    <div id="rightpanel">{% block log %} {% endblock %}</div>
    <script src="/Backend/media/js/jquery.js"></script>
    <script src="/Backend/media/bootstrap/js/bootstrap.js"></script>
</head>
<body>

    <div align="center">
    <div id="menu">
				<div align="center" class="smallblacktext" style="padding:9px;">
					{% block items %} {% endblock %}
				</div>
    </div>
    <header>
        <nav>

        </nav>

    </header>


    <section>
        {% block content %}
        {% endblock %}
    </section>
    </div>
</body>
</HTML>