{% extends 'header.html' %}
{% block tittle %}Inicio {% endblock %}
{% block items %}
    <a href="">Inicio</a>
    <img src="/Backend/media/images/bg_submenu.gif">
    <a href="">Menu</a>
    <img src="/Backend/media/images/bg_submenu.gif">
    <a href="">Acerca de nosotros</a>
    <img src="/Backend/media/images/bg_submenu.gif">
{% endblock %}
{% block log %}
    {% if user.is_authenticated %}
        <a href="{% url "Backend.apps.seguridad.views.logout_view" %}">Cerrar sesion</a>
    {% else %}
        <a href="{% url "vista_login" %}"> Iniciar sesion </a>
    {% endif %}
{% endblock %}
{% block content %} <br>  {% endblock %}

